body {
  background-color: black;
  background-image: url(https://media.tenor.com/lEuZK57PtxIAAAAC/space-stars.gif);
}

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
}

.App {
  text-align: start;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 3.5vw;
  color: white;
}

.container {
  width: 100%;
}

/* Dibawah ini preset CSS*/

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: flex-start;
}

.fd-r {
  flex-direction: row;
}

.fd-c {
  flex-direction: column;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mr-1 {
  margin-right: 10px;
}

.w-100 {
  margin-left: auto;
  margin-right: auto;
}

/* Dibawah ini custom CSS*/

.header {
  width: 100%;
}

.Logo-Header {
  width: 75px;
}

.Navigation,
.nav-container {
  gap: 16px;
}

.hamburger-icon {
  font-size: 2rem;
  display: none;
}

.Text-Logo {
  color: #fff;
  font-family: Orbitron;
  font-size: 32px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}

.nav {
  display: block;
  cursor: default;
  text-decoration: none;
  color: #fff;
}

.nav:not(.nav-active):hover {
  cursor: pointer;
}

.nav-active {
  text-decoration: underline;
  font-weight: 800;
}

.Navigation {
  position: relative;
}

.nav-dropdown-container {
  background: #1e1e1e;
  width: 150px;
  position: absolute;
  right: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-mobile {
  margin-top: 5px;
  margin-bottom: 5px;
}

.socialmedia-logo > img {
  object-fit: contain;
}

.footer {
  width: 100%;
  bottom: 0px;
  margin-bottom: 50px;
}

.footer-p1 {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-p2 {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.socialmedia-logo {
  gap: 5px;
}

.socialmedia-logo {
  margin-top: -20px;
}

.inner-card-container {
  width: 300px;
  min-height: 475px;
  max-height: none;
  flex-wrap: wrap;

  border-radius: 10px;
  background: #1e1e1e;
}

.inner-card-container > img {
  width: 300px;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.inner-card-desc > h3 {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  margin-bottom: -15px;
}

.inner-card-desc > h2 {
  color: #fff;
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  margin-bottom: -15px;
}

.inner-card-desc > p {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inner-card-desc > h4 {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: -5px;
}

.button1 {
  min-width: 250px;
  min-height: 45px;
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #6b79bd;
  border: none;
}

.card-p {
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-tags {
  color: #fff;
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tags-container {
  flex-wrap: wrap;
}

.button1:hover {
  background: #525d92;
}

.LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.LinkButton:hover {
  cursor: pointer;
}

.page-title {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-container {
  gap: 15px;
  overflow-x: auto;
}

/* width */
.card-container::-webkit-scrollbar {
  min-width: 10px;
  max-width: none;
}

/* Track */
.card-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
.card-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
.card-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 2px;
}

/* Home */
.body-content {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* InputField */
.searchBar-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchBar {
  width: 100%;
  margin-right: auto;
  background: white;
  display: flex;
  justify-content: space-between;
}

.clear-button {
  border: none;
  width: 30px;
  outline: none;
  background-color: white;
}

.clear-button:hover {
  background-color: gray;
}

.searchBar > .searchInput {
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
  width: 100%;
}

.searchBar-container > button {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 1px;
  background: #6b79bd;
  border: none;
  padding: 10px;
}

.searchBar-container > button:hover {
  background: #525d92;
}

/* Mobile UI*/
@media only screen and (max-width: 800px) {
  .hamburger-icon {
    display: block;
  }

  .nav-container {
    display: none;
  }

  .searchBar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchBar-container > button {
    margin-top: 10px;
  }
}

/* Service Detail Design */
.Service-Detail {
  color: white;
  font-family: "Orbitron", sans-serif;
}

.Service-Title {
  text-align: center;
}

.Service-Detail-Text {
  float: left;
  margin-left: 25px;
  text-align: left;
}

.Service-Image {
  flex: 1;
  max-width: 204px;
}

.Service-Detail-Card {
  background-color: #1e1e1e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  width: auto;
}

.Title-Services-Detail {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  align-items: flex-start;
  font-size: 24px;
  margin-top: 30px;
  font-weight: bold;
}

.Description-Services-Detail {
  font-size: 16px;
  margin-top: 0;
  margin-right: 10%;
  font-family: "Open Sans", sans-serif;
}

.Price-Services-Detail {
  font-size: 24px;
}

.Button-Services-Detail {
  background-color: #6b79bd;
  width: 440px;
  height: 55px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
  font-family: "Orbitron", sans-serif;
}

@media screen and (max-width: 845px) {
  .Service-Detail-Card {
    flex-direction: column;
    align-items: center;
  }

  .Service-Image {
    order: -1;
    margin-top: 10px;
  }

  .Button-Services-Detail {
    width: 80%;
  }
}

/* About Us Design */
.About-Us {
  text-align: center;
}

.Gap-About-Us-Title {
  margin-top: 35px;
}

.About-Us-Text {
  font-family: Open Sans;
  font-style: normal;
  margin-left: 20px;
  margin-right: 20px;
}

.About-Us-Quote {
  margin-top: 35px;
}

.What-Do-We-Do-Title {
  margin-top: 120px;
  margin-bottom: 35px;
}

.What-Do-We-Do-card {
  background-color: #1e1e1e;
  width: auto;
  max-width: 280px;
  border-radius: 10px;
  height: 346px;
  margin-bottom: 10px;
}

.What-Do-We-Do-card-image {
  width: 100%;
  border-radius: 10px;
}

.What-Do-We-Do-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}

.What-Do-We-Do-card-Position {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Profile Design */
.Profile-Data {
  margin-bottom: 50px;
}

.Profile-Box {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding-top: 10px;
  text-align: center;
}

.Profile-Button2 {
  background-color: #751c1c;
}

.Profile-Button2:hover {
  background-color: #591717;
}

.form-group-Profile {
  margin-bottom: 30px;
}

.Input-Profile {
  border-radius: 7px;
}

/* Payment Successful Design */
.Payment-Successful {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
